2.9Silverlight利用SQL数据库注册登录/SilverlightLoginSQL/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1393/SilverlightLoginSQLSite/ClientBin/Service.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1393/SilverlightLoginSQLSite/ClientBin/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1393/SilverlightLoginSQLSite/ClientBin/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service_GetData_InputMessage">
    <wsdl:part name="parameters" element="GetData" />
  </wsdl:message>
  <wsdl:message name="Service_GetData_OutputMessage">
    <wsdl:part name="parameters" element="GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="Service_CheckName_InputMessage">
    <wsdl:part name="parameters" element="CheckName" />
  </wsdl:message>
  <wsdl:message name="Service_CheckName_OutputMessage">
    <wsdl:part name="parameters" element="CheckNameResponse" />
  </wsdl:message>
  <wsdl:message name="Service_Tianjia_InputMessage">
    <wsdl:part name="parameters" element="Tianjia" />
  </wsdl:message>
  <wsdl:message name="Service_Tianjia_OutputMessage">
    <wsdl:part name="parameters" element="TianjiaResponse" />
  </wsdl:message>
  <wsdl:message name="Service_CheckPassword_InputMessage">
    <wsdl:part name="parameters" element="CheckPassword" />
  </wsdl:message>
  <wsdl:message name="Service_CheckPassword_OutputMessage">
    <wsdl:part name="parameters" element="CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="urn:Service/GetData" message="Service_GetData_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/GetDataResponse" message="Service_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckName">
      <wsdl:input wsaw:Action="urn:Service/CheckName" message="Service_CheckName_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/CheckNameResponse" message="Service_CheckName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tianjia">
      <wsdl:input wsaw:Action="urn:Service/Tianjia" message="Service_Tianjia_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/TianjiaResponse" message="Service_Tianjia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input wsaw:Action="urn:Service/CheckPassword" message="Service_CheckPassword_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/CheckPasswordResponse" message="Service_CheckPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>